<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.smartlabour01">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".C_Hire" />
        <activity android:name=".C_WorkHistory" />
        <activity android:name=".C_Profile" />
        <activity
            android:name=".C_Main_Activity"
            android:label="@string/title_activity_cont_nav_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".WelcomeActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".L_MainActivity" />
        <activity android:name=".L_Profile" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".HelpActivity" />
        <activity android:name=".SettingsActivity" />
        <activity android:name=".L_WorkHistory" />
        <activity android:name=".C_LoginActivity" />
        <activity android:name=".C_RegisterActivity" />
        <activity android:name=".L_PhoneActivity" />
        <activity android:name=".L_PverifyActivity" />
    </application>

</manifest>